.bookshelf {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.bookshelf h2 {
  display: none;
}

.bookshelf h3 {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  width: 100%;
}

.bookshelf-content {
  display: flex;
  /* border: 2px solid yellow; */
  overflow: hidden;
  display: flex;
  height: 100%;
  background-color: #f2f5fd;
  justify-content: space-around;
}

.bookshelf-left {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 75%;
}

.bookshelf-right {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
}

.bookshelf-in-progress {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  overflow-x: scroll;
  gap: 1rem;
}

.bookshelf-up-next {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  overflow-x: scroll;
  gap: 1rem;
  width: 100%;
}

.bookshelf-finished {
  display: flex;
}

.book-card {
  overflow-wrap: break-word;
  align-items: center;
  border: 2px solid black;
}

.book-title,
.book-author {
  align-self: start;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}

p {
  font-size: 12px;
}

.progress {
  align-items: center;
}

.checkmark {
  padding-left: 1rem;
}

.in-progress-container {
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}

.bookshelf-in-progress::-webkit-scrollbar {
  height: 8px;
}

.bookshelf-in-progress::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 768px) {
  .bookshelf {
    height: 100%;
  }

  .mobile-title {
    display: flex;
    align-self: center;
  }



  .bookshelf h3 {
    font-size: 1rem;
    border-bottom: none;
  }
  .bookshelf-content {
    flex-direction: column;
    overflow: scroll;
    /* justify-content: center; */
    padding-top: 4rem;
  }
  .bookshelf-left {
    width: 100%;
    /* height: 66%; */
    background-color: white;
  }
  .bookshelf-right {
    width: 100%;
    /* height: 33%; */
  }

}
