.dashboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: #f2f5fd;
  padding: 1.5rem;
  gap: 1rem;
}

.dashboard-content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  gap: 1rem;
}

.welcome-back-container {
  display: flex;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.welcome-back {
  padding-right: 0.4rem;
}

.name {
  font-weight: bold;
  text-transform: capitalize;
}

.left {
  width: 75%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  height: 30%;
}

.bottom {
  display: flex;
  width: 100%;
  height: 55%;
  gap: 1rem;
  overflow: hidden;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: calc(1vw + 1vh);
  padding: 20px;
  box-sizing: border-box;
}

.right {
  padding-left: 0rem;
  width: 25%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
