/* Main Container for the Bookshelf */
progress {
  width: 100%;
}

.progress p {
  justify-content: center;
  align-items: center;
}

.in-progress-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.in-progress-card img {
  transition: opacity 0.3s ease;
}

.in-progress-card .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.in-progress-card h4 {
  font-size: 18px;
  font-weight: bold;
}

.progress-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.progress-buttons .read-button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #8c9a5b;
  background-color: #fff;
  border: 2px solid #8c9a5b;
  padding: 5px 20px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.progress-buttons .update-button {
  border: none;
  background-color: transparent;
  color: #007bff;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 0px !important;
}

/* Button Hover and Active States */
.progress-buttons .read-button:hover {
  background-color: #6f7e4a; /* Darker green on hover */
  transform: scale(1.05); /* Slight scaling effect */
}

.progress-buttons button:active {
  transform: scale(0.98); /* Button shrinks slightly on click */
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .in-progress-card {
    width: 200px; /* Narrower cards on small screens */
  }
}
