.now-reading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 0.5rem;
  height: 50%;
}

.page-progress {
  font-size: 1.1rem;
  color: #555;
}

.continue-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-btn:hover {
  background-color: #45a049;
}

.current-book-cover {
  /* scale: 80%; */
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
