a {
  color: #8c9a5b;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.search-bar {
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.search-btn {
  background-color: #8c9a5b;
  width: 15%;
  height: 72%;
  padding: 0px !important;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search-page input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-title {
  font-size: 32px;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 0rem;
}

.loading {
  font-size: 18px;
  color: #7f7f7f;
}

.books-list {
  padding: 1rem 3rem;
  display: grid;
  gap: 20px;
  width: 100%;
  overflow-y: scroll;
}

.sticky-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f1f1f1;
  padding: 10px;
}

.search-book-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-cover {
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  gap: 0.5rem;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  color: #3c3c3c;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  font-size: 16px;
  color: #6d6d6d;
}

.book-pages {
  font-size: 14px;
  color: #9c9c9c;
}

.book-description-container {
  display: flex;
}

.book-description {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease;
}

.book-description.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.read-more-button {
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.read-more-button:hover {
  color: #0056b3;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-book-btn {
  background-color: #8c9a5b;
  font-size: 14px;
  width: 30%;
}

.info-btn {
  background-color: #f8c146;
  font-size: 14px;
  color: #4e4e4e;
}

.search-btn:hover {
  background-color: #7b8a4f;
}

.back-link {
  align-self: flex-start;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .search-page {
    padding: 15px;
  }

  .book-card {
    padding: 15px;
  }
}
