.reading-sessions-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

.sessions {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  padding-right: 15px;
}

.date-section h4 {
  color: #3e5a45;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
  align-self: center;
}

.session-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.session-item {
  gap: 0.5rem;
  display: flex;
  background-color: #fff;

  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.session-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.session-title {
  font-weight: bold;
  color: #6b4f3a;
  font-size: 0.5rem;
}

.session-img {
  width: 50%;
  margin: 0;
  padding: 0;
}

.session-details {
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 5px;
}

.session-time {
  color: #3e5a45;
  font-size: 12px;
  margin-top: 5px;
}

.sessions::-webkit-scrollbar {
  width: 8px;
}

.sessions::-webkit-scrollbar-thumb {
  background-color: #b7a68d;
  border-radius: 5px;
}

.sessions::-webkit-scrollbar-track {
  background-color: #f4f1e1;
}
