.totals-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  height: 15%;
}

.total-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6c9b1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1rem;
  min-width: auto;
  color: #8c6a4d;
}

.title {
  font-size: 1em;
}

.amount {
  font-size: 1.5em;
  font-weight: 700;
  color: #a69e69;
}

.card-icon {
  display: flex;
  align-self: center;
}

.card-icon img {
  width: 4rem;
}

.total-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #8c6a4d;
  color: white !important;
}
