.current-book {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upadate-book-info {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.update-book-cover {
  border-radius: 5px;
}

.update-book-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 400px;
}

.book-details {
  text-align: left;
  padding: 1rem 2rem;
}

.book-details h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.book-details p {
  font-size: 16px;
  color: #555;
}

.update-popup {
  display: flex;
  width: 100%;
  padding: 0rem 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 100000 !important;
}

.hours-minutes {
  display: flex;
}

.hours-input {
  display: flex;
  width: 50%;
  gap: 0.5rem;
  align-items: center;
}

.minutes-input {
  display: flex;
  width: 50%;
  gap: 0.5rem;
  align-items: center;
}

/* Basic reset for the button */
.add-session-btn {
  background-color: #007bff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}

/* Hover effect */
.add-session-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Focus effect for accessibility */
.add-session-btn:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue focus ring */
}

/* Active effect when clicked */
.add-session-btn:active {
  background-color: #004085; /* Even darker blue on click */
  transform: translateY(0); /* Remove lift on click */
}

.add-session-btn.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.page-input {
  background-color: white;
  border-color: green;
}

.page-input.disabled {
  background-color: lightgray;
  border-color: gray;
  cursor: not-allowed;
}
