a {
  color: #8c9a5b;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

/* Page Layout */
.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.search-bar {
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.search-btn {
  /* border: 2px solid pink; */
  background-color: #8c9a5b;
  width: 10%;
  height: 70%;
  padding: 0px !important;
}

.page-title {
  font-size: 32px;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 20px;
}

.loading {
  font-size: 18px;
  color: #7f7f7f;
}

.books-list {
  padding: 1rem;
  /* border: 3px solid green; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates exactly two columns */
  gap: 20px; /* Adds space between grid items */
  width: 100%;
}

.sticky-section {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0; /* The distance from the top of the viewport */
  z-index: 1000; /* Ensure the sticky section stays above other content */
  background-color: #fff; /* Optional: Set background color to avoid content overlap */
  padding: 10px; /* Optional: Add padding */
}

.search-book-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-cover {
  /* width: 100%; */
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  gap: 0.5rem;
  /* margin-top: 10px; */
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  color: #3c3c3c;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 5 lines */
  -webkit-box-orient: vertical; /* Specifies the box model */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Adds "..." for the truncated text */
}

.book-author {
  font-size: 16px;
  color: #6d6d6d;
}

.book-pages {
  font-size: 14px;
  color: #9c9c9c;
}

/* Book Description Container */
.book-description-container {
  display: flex;
}

/* Book Description Styling */
.book-description {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 5 lines */
  -webkit-box-orient: vertical; /* Specifies the box model */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Adds "..." for the truncated text */
  transition: height 0.3s ease; /* Smooth transition for expanding */
}

.book-description.expanded {
  -webkit-line-clamp: unset; /* Remove the line clamp */
  overflow: visible; /* Allow the content to overflow */
}

/* Button Styling */
.read-more-button {
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  color: #007bff; /* Blue color */
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.read-more-button:hover {
  color: #0056b3; /* Darker blue on hover */
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-book-btn {
  background-color: #8c9a5b;
  font-size: 14px;
  width: 30%;
}

.info-btn {
  background-color: #f8c146; /* Earthy yellow */
  font-size: 14px;
  color: #4e4e4e;
}

.search-btn:hover {
  background-color: #7b8a4f;
}

.back-link {
  align-self: flex-start;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .search-page {
    padding: 15px;
  }

  .book-card {
    padding: 15px;
  }
}
