.horizontal-flex-container {
  display: flex;
  flex-direction: row;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.book-cover-img {
  height: 12rem;
  width: 8rem;
  display: flex;
  align-self: center;
}

.book-cover-img:hover {
}

@media (max-width: 768px) {
  .layout {
    display: block;
    overflow: scroll;
  }
}
